<app-navegacion></app-navegacion>

<h1>pantalla main</h1>

<p>mi nombre es {{nombre}} {{usuario[0].apellido}}</p>
<p>{{usuario[0].sobreMi}}</p>
<img [src]="usuario[0].imagen" alt="">
<p>{{usuario[0].puesto}} </p>
<i class="fa-brands fa-facebook-f"></i>
<i class="fa-brands fa-facebook"></i>
<i class="fa-brands fa-facebook-f"></i>
<i class="fa-brands fa-linkedin"></i>
<app-experiencia-laboral></app-experiencia-laboral>
<app-educacion></app-educacion>
<app-skills></app-skills>
<app-contactos></app-contactos>