<app-navegacion></app-navegacion>
<div class="login-form">
    <div class="form">
        <h2 class="h2">Editar experiencia laboral</h2>
        <form (ngSubmit)="onUpdate()" novalidate #f="ngForm" class="form__form">
            <div class="form-grup">
                <label for="empresa">empresa</label>
                <input type="text" [(ngModel)]="expLab.empresa" id="empresa" name="empresa" required>
            </div>
            <div class="form-grup">
                <label for="descripcion">descripcion</label>
                <input type="text" [(ngModel)]="expLab.descripcion" id="descripcion" name="descripcion" required>
            </div>
            <div class="form-grup">
                <label for="fechaInicio">Editar fecha Inicio</label>
                <input type="text" [(ngModel)]="expLab.fechaInicio" id="fechaInicio" name="fechaInicio" required>
            </div>
            <div class="form-grup">
                <label for="fechaFin">Editar fecha Fin</label>
                <input type="text" [(ngModel)]="expLab.fechaFin" id="fechaFin" name="fechaFin" required>
            </div>
            <div class="form-grup">
                <label for="puesto">puesto</label>
                <input type="text" [(ngModel)]="expLab.puesto" id="puesto" name="puesto">
            </div>
            <div class="form-grup">
                <label for="imagen">url imagen</label>
                <input type="text" [(ngModel)]="expLab.imagen" id="imagen" name="imagen">
            </div>

            <button type="submit" class="boton-login">editar</button>
        </form>
    </div>
</div>