<section id="about" class="about">
    <div class="sobre-mi">
      
      <div class="foto-parrafo">
        <img src={{imagen}} alt="foto Andrés Biasutto" class="foto"  data-aos="fade-left" data-aos-duration="800">
        <div class="textos">
          <p class="parrafo" data-aos="fade-left" data-aos-duration="800">{{sobreMi}}</p>
        <a download="CVAndresBiasutto" href="../../../assets/mi cv.pdf" target="_blank" class="btn-descarga" data-aos="fade-zoom-in"
    data-aos-easing="ease-in-back"
    data-aos-delay="5000"
    data-aos-offset="0">Descargar mi cv</a>
    </div>
        </div>
        
      </div>
      
  
  </section>
  