<div class="contacto">
    <!-- <button routerLink="/agregarcontacto" *ngIf="estaLogeado">agregar contacto</button> -->
    <div *ngFor="let contacto of contactos">
        <div class="contacto__caja">
            <a href="{{contacto.link}}" target="_blank">
                <i class="{{contacto.imagen}} icono"></i>
            </a>
            <span class="nombre">{{contacto.nombre}}</span>
        </div>


        <!-- <button *ngIf="estaLogeado" routerLink="/editarcontacto/{{contacto.id}}">editar</button>
        <button *ngIf="estaLogeado" (click)="delete(contacto.id)">borrar</button> -->
    </div>
</div>