<app-navegacion></app-navegacion>
<div class="login-form">
    
    
    <div class="form">
    <h2 class="h2">Login</h2>    
        <form #f="ngForm" (ngSubmit)="onLogin()" novalidate class="form__form">
            <div class="form-grup">
                <label for="user">Usuario</label>
                <input type="text" name="user" id="user" placeholder="text" [(ngModel)]="nombreUsuario" required class="input" placeholder="usuario: andres">
            </div>
            <div class="form-grup">
                <label for="password">contraseña</label>
                <input type="password" name="password" id="password" placeholder="password" [(ngModel)]="password" class="input" placeholder="contraseña: admin">
            </div>
            <button type="submit" class="boton-login">entrar</button>
        </form>
    </div>

</div>