@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=K2D&display=swap');

:root{
    --titulos: 'Bebas Neue', cursive;
    --parrafos: 'K2D', sans-serif;
    --amarillo: #F28705;
    --azul: #5B89A6;
    --celeste: #A3C9D9;
    --naranja: #D99255;
    --rojo: #D91E1E;
    --negro: #202020;
    --blanco: #e9e9e9;
}
html {
    box-sizing: border-box;
    min-height: 100%;
    scroll-snap-type: y mandatory;
    font-size: 62.5%; 
    scroll-behavior: smooth;
}
*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
}
p {
    line-height: 1.3;
    color: var(--blanco);
}
body {
    min-height: 100%;
    font-size: 1.6rem;
    font-family: var(--parrafos);
    background-color: var(--negro);
}
body::-webkit-scrollbar{
    background-color: var(--celeste);
    width: 10px;
}
body::-webkit-scrollbar-thumb{
    background-color: var(--azul);
}
h1,h2,h3,h4{
    line-height: 1.1;
    font-family: var(--titulos);
    color: var(--azul);
}
h1{
    font-size: 5rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3rem;
}
h4{
    font-size: 2.3rem;
}
p{
    text-align: left;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.contenedor{
    margin: 0 10rem;
}
.boton{
    border: 3px solid var(--blanco);
    color: var(--blanco);
    font-size: 1.5rem;
    background-color: transparent;
    padding: .5rem 2rem;
    cursor: pointer;
    margin-top: 1rem;
    transition: .3s all ease-in-out;
}
.boton:hover{
    transform: scale(1.05);
    color: var(--rojo);
    border: 3px solid var(--rojo);
}
.margen-l{
    margin-left: 2rem;
}
.margen-r{
    margin-right: 1rem;
}
.margin-d{
    margin-bottom: 1rem;
}
.margen-titulos{
    margin-top: 10rem;
    margin-bottom: 10rem;
}
.botones{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
/*LOGIN FORM*/
.login-form{
    background-color: var(--negro);
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.h2{
    margin-top: 10rem;
}
.form{
    border: 5px solid var(--azul);
    background-color: var(--amarillo);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
}
.form__form{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-grup{
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    width: 80%;
}
.boton-login{
    width: 80%;
    background-color: var(--celeste);
    border: none;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 10rem;
    cursor: pointer;
}
input{
    border: none;
    padding: .8rem;
}
label{
    color: var(--blanco);
}